html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.board img {
  width: 350px;
}

img.clicked {
  width: 300px;
  border: 10px solid rgb(0, 255, 255);
}

.answer {
  width: 1200px;
  z-index: 10;
  position: absolute;
  border: 10px solid rgb(5, 208, 208);
}

.hidden {
  display: none;
}
