html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* gap: 10px; */
  justify-items: center;
  align-items: center;
}

.board img {
  width: 350px;
}

.overlay {
  opacity: 50%;
}

img.clicked {
  width: 300px;
  border: 10px solid rgb(0, 255, 255);
}

.answer {
  opacity: 0;
  transition: width 1200ms ease-in, opacity 1200ms ease-in;
  z-index: 1;
  position: absolute;
  border: 0;
}

.reveal {
  width: 1050px;
  z-index: 10;
  border: 10px solid rgb(5, 208, 208);
  opacity: 1;
}

.hidden {
  display: none;
}
