body {
  flex-direction: column;
}

.jigsaw-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 2px solid blue;
}

.jigsaw-board img {
  width: 80px;
  border: 2px solid green;
  background: lightblue;
}

.jigsaw-pieces {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 10px;
  border: 2px solid blue;
  margin-top: 2px;
}

.jigsaw-pieces img,
.blank img {
  width: 80px;
}

.jigsaw-piece:hover {
  opacity: 30%;
}

.answer {
  display: block;
  width: 420px;
  transition: width 1200ms ease-in, opacity 1200ms ease-in;
  position: absolute;
  border: 0;
  top: 10px;
}
