body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jigsaw-pieces {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 10px;
  border: 2px solid blue;
}

.jigsaw-pieces img {
  width: 80px;
}
